<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggboy.exam.dao.exam.TeaAccessDao">

    <update id="refuseApply" parameterType="String">
        UPDATE FROM tea_access
        SET
        access = false
        WHERE
        id = #{accessId}
    </update>

    <update id="accessApply" parameterType="String">
        UPDATE FROM tea_access
        SET
        access = true
        WHERE
        id = #{accessId}
    </update>

</mapper>